.row-wrapper{
    gap: 32px;
}


.countdown-wrapper{
    box-sizing: border-box;
    height: 96px;
    border-radius: 8px;
    margin-top: 40px;
    background-color: #ffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 24px;
}

.transfer-wrapper{
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 24px;
    background-color: #ffff;
    border-radius: 8px;
    margin-top: 24px;
}

.tutor-wrapper{
    box-sizing: border-box;
    height: 370px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 24px;
    background-color: #ffff;
    border-radius: 8px;
    margin-top: 24px;
}

.confirm-wrapper{
    box-sizing: border-box;
    height: 148px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 24px;
    background-color: #ffff;
    border-radius: 8px;
    margin-top: 40px;
}

.button-confirm.btn{
    width: 100%;
    border-radius: 2px;
}

.countdown-payment{
    display: flex;
    align-items: center;
    justify-content: end;
    /* color: red; */
    font-size: larger;
}

.countdown-upload{
    /* color: red; */
    font-size: 14px;
    line-height: 20px;
}

.confirm-wrapper1{
    box-sizing: border-box;
    width: 405px;
    height: 474px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 24px;
    background-color: #ffff;
    border-radius: 8px;
    margin-top: 40px;
}

.tittle-countPage{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.confirm-countUpload{
    display: flex;
    justify-content: space-between;
}

.transfer-name{
    display: flex;
    gap: 16px;
    align-items: center;
}

.bank-name1{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.number-account{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 8px;
}

.number-account label{
    font-size: 12px;
    gap: 4px;
}

button.nav-link {
    color: black;
}

.method-inst li{
    margin-top: 10px;
    color: #8A8A8A;
}

.method-inst p{
    margin-top: 10px;
    color: #8A8A8A;
    margin-left: 18px;
}

.totalPrice-input{
    display: flex;
    font-weight: 700;
    padding: 9px 12px;
    border-radius: 2px;
    border: 1px solid var(--neutral-04, #3C3C3C)
}

.account-input{
    font-weight: 300;
    padding: 9px 12px;
    border-radius: 2px;
    border: 1px solid var(--neutral-04, #3C3C3C)
}

