
.login-user-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
}

.login-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.signup-account{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-size: 15px;
    gap: 2px;
}

.login-tittle h1{
    padding-bottom: 50px;
}

.login-logo{
    background-color: rgba(207, 212, 237, 1);
    width: 100px;
    height: 34px;
    box-sizing: border-box;
    margin-bottom: 32px;
}



