.login-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.login-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 370px;
}

.signup-account{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    gap: 2px;
}

.login-tittle h1{
    padding-bottom: 50px;
}

.login-logo{
    background-color: rgba(207, 212, 237, 1);
    width: 100px;
    height: 34px;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.image-wrapper img {
    width: 100vh;
    height: 100vh;
}






