.register-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.register-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 370px;
}

.register-account{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-size: 15px;
    gap: 2px;
}

.register-tittle h1{
    padding-bottom: 50px;
}

.register-logo{
    background-color: rgba(207, 212, 237, 1);
    width: 100px;
    height: 34px;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.image-wrapper img {
    width: 100vh;
    height: 100vh;
}