.selectMethod-wrapper{
    gap: 32px;
}

.payment-method.col {
    padding: 24px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: #ffff;
    width: 605px;
    height: 320px;
}

.payment-detail.col {
    padding: 24px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 405px;
    height: 546px;
    background-color: #ffff;
}

.img-categoryorder{
    color: #8A8A8A ;
    vertical-align: baseline;
    margin-right: 5px;
}

.total-price-order{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 41px;
}

.detail-price-order{
    display: flex;
    justify-content: space-between;
    margin-right: 7px;
    margin-bottom: 24px;
}

.btn-payment1{
    width: 100%;
    border-radius: 2px;
    margin-top: 24px;
}

.tittle-detail-payment1{
    font-size: 14px;
    font-weight: 700;
}

.detail-price-order1{
    display: flex;
    justify-content:space-between ;
    margin-right: 7px;
    margin-bottom: 8px;
}

.selection-bank{
    display: flex;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #FFF;
    border-bottom-color: rgba(208, 208, 208, 1);
    margin-bottom: 16px;
    gap: 16px;
    padding-bottom: 16px;
}

.bank-name{
    display: flex;
    box-sizing: border-box;
    width: 65px;
    font-size: 12px;
    font-weight: 400;
    padding: 6px;
    line-height: 18px;
    border-radius: 4px;
    border: 1px solid var(--neutral-02, #D0D0D0);
    background: var(--neutral-01, #FFF);
    align-items: center;
    justify-content: center;
}

.bank-button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    background-color: #FFF;
}


